<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @device.name %>
</p>

<p>
  <b>Description:</b>
  <%= @device.description %>
</p>

<p>
  <b>Image url:</b>
  <%= @device.image_url %>
</p>

<p>
  <b>Port:</b>
  <%= @device.port %>
</p>

<p>
  <b>Kind:</b>
  <%= @device.readable_kind %>
</p>

<% if @device.kind == Device::KINDS[:servo] %>
<p>
  <b>Setting:</b>
  <%= @device.setting %>
</p>
<% end %>

<% if @device.kind == Device::KINDS[:relay] %>
<p>
  <b>State:</b>
  <%= @device.state %>
</p>
<% end %>

<p>
  <b>Board:</b>
	<%= link_to @device.board.name, @device.board if @device.board %>
</p>

<%= link_to 'Edit', edit_device_path(@device) %> |
<%= link_to 'Back', devices_path %>
