<h1>Listing sensors</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Serial</th>
    <th>Board</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sensors.each do |sensor| %>
  <tr>
    <td><%= sensor.name %></td>
    <td><%= sensor.serial %></td>
    <td><%= link_to sensor.board.name, sensor.board if sensor.board %></td>
    <td><%= link_to 'Readings', filter_serial_readings_path(sensor.serial) %></td>
    <td><%= link_to 'Show', sensor %></td>
    <td><%= link_to 'Edit', edit_sensor_path(sensor) %></td>
    <td><%= link_to 'Destroy', sensor, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sensor', new_sensor_path %>
