<!DOCTYPE html>
<html>
<head>
  <title>Remote</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<% if session[:user_id] %>
    <%= link_to 'Devices', devices_path %>
    <%= link_to 'Sensors', sensors_path %>
	<%= link_to 'Readings', readings_path %>
    <%= link_to 'Boards', boards_path %>
    <%= link_to 'Users', users_path %>
    <%= button_to 'Logout', logout_path, :method => :delete %>
<% end %>

<%= yield %>

</body>
</html>
